
.mui-btn {
  margin: 0;

  &:focus {
    box-shadow: none;
  }

  &.mui-btn--can-load {
    height: auto;

    &:before {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -11px;
      width: 20px;
      height: 20px;
      border: 1px solid;
      border-left-color: transparent;
      border-radius: 50%;

      @include opacity(0);
      @include transition-duration(.5s);
      @include transition-property(opacity);
      @include animation-duration(1s);
      @include animation-iteration-count(infinite);
      @include animation-name(rotate);
      @include animation-timing-function(linear);
    }

    &:after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0px;

      @include transition-delay(.5s);
      @include transition-duration(.75s);
      @include transition-property(width);
    }

    &.mui-btn--is-loading {
      pointer-events: none;
      cursor: not-allowed;

      &:not(.expand) {
        text-align: left;
      }

      &:before {
        @include transition-delay(.5s);
        @include transition-duration(1s);
        @include opacity(1);
      }

      &:after {
        @include transition-delay(0s);

        width: 20px;
      }
    }

    // Animation
    @keyframes rotate {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

  &.mui-btn--plain {
    &:hover, &:focus, &:active {
      background-color: transparent;
    }
  }
}
