
@import '../color';

.mui-btn {
  margin: 0;

  &:focus {
    box-shadow: none;
  }

  &.mui-btn--can-load {
    height: auto;

    &:before {
      @include opacity(0);
      @include transition-duration(.5s);
      @include transition-property(opacity);
      @include animation-duration(1s);
      @include animation-iteration-count(infinite);
      @include animation-name(rotate);
      @include animation-timing-function(linear);

      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -11px;
      width: 20px;
      height: 20px;
      border: 1px solid;
      border-radius: 50%;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: rgba(black, .5);
    }

    &:after {
      @include transition-delay(.5s);
      @include transition-duration(.75s);
      @include transition-property(width);

      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
    }

    &.mui-btn--is-loading {
      pointer-events: none;
      cursor: not-allowed;

      &:not(.expand) {
        text-align: left;
      }

      &:before {
        @include transition-delay(.5s);
        @include transition-duration(1s);
        @include opacity(1);
      }

      &:after {
        @include transition-delay(0s);

        width: 20px;
      }
    }

    // Animation
    @keyframes rotate {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

  &.mui-btn--plain {
    &:hover, &:focus, &:active {
      background-color: transparent;
    }
  }

  &.mui-btn--fab {
    > .icon {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      height: 24px;
      width: 24px;
    }

    &.mui-btn--can-load {

      height: auto;

      &:before {
        right: calc(14.5% - 9px);
        margin-top: -28.5px;
        width: 57px;
        height: 57px;
        border: 2px solid;
        border-radius: 50%;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }

      &.mui-btn--is-loading {
        overflow: visible;
      }
    }
  }

  &:not(.mui-btn--fab) {
    padding: 0 16px;

    > .icon {
      height: 36px;
      line-height: 36px;
    }
  }

  &.mui-btn--light {
    color: white;

    &:hover, &:focus {
      color: white;
    }

    &:not(.mui-btn--plain):hover,
    &:not(.mui-btn--plain):focus {
      background-color: rgba(black, .2);
    }

    &.mui-btn--can-load {
      &:before {
        border-right-color: white;
      }
    }
  }

  &.mui-btn--color-primary {
    color: $primary;

    &.fab-mui-btn--can-load {
      &:before {
        border-right-color: $load-for-everything;
      }
    }
    
    &:hover {
      color: darken($primary, 5%);
    };
  }

  &.mui-btn--color-accent {
    color: $accent;

    &.mui-btn--can-load {

      &:before {
        border-right-color: $load-for-everything;
      }
    }
    
    &:hover {
      color: darken($accent, 5%);
    }
  }

  &.mui-btn--color-goal {
    color: $goal;

    &.mui-btn--can-load {

      &:before {
        border-right-color: $load-for-everything;
      }
    }
    
    &:hover {
      color: darken($goal, 5%);
    }
  }

  &.mui-btn--color-bill {
    color: $bill;

    &.mui-btn--can-load {

      &:before {
        border-right-color: $load-for-everything;
      }
    }
    
    &:hover {
      color: darken($bill, 5%);
    }
  }

  &.mui-btn--color-label {
    color: $label;

    .mui-btn--can-load {

      :before {
        border-right-color: $load-for-everything;
      }
    }
    &:hover {
      color: darken($label, 5%);
    }
  }
}
