
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;

  background-color: black;
  transition: opacity 200ms ease-in;
  opacity: 0.5;
}

.overlay-transition-enter {
  opacity: 0.01;
}

.overlay-transition-enter.overlay-transition-enter-active {
  opacity: 0.5;
}

.overlay-transition-leave {
  opacity: 0.5;
}

.overlay-transition-leave.overlay-transition-leave-active {
  opacity: 0.01;
}
