
.fade-transition > * {
  transition: opacity 300ms ease-in;
  will-change: opacity;
}

.fade-transition-leave.fade-transition-leave-active,
.fade-transition-enter {
  opacity: 0.01;
}

.fade-transition-enter.fade-transition-enter-active,
.fade-transition-leave {
  opacity: 1;
}


.height-transition > * {
  transition: max-height 300ms ease;
  will-change: max-height;
}

.height-transition-enter {
  max-height: 1px;
  overflow: hidden;
}

.height-transition-enter.height-transition-enter-active {
  max-height: 200px;
}

.height-transition-leave {
  max-height: 200px;
  overflow: hidden;
}

.height-transition-leave.height-transition-leave-active {
  max-height: 1px;
}
