{
  "presets": ["stage-0", "es2015", "react"],
  "plugins": [
    "./webpack/babel-relay-plugin",
    "transform-class-properties",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  }
}
