{
  "presets": ["stage-0", "es2015", "react"],
  "plugins": [
    "./webpack/babel-relay-plugin.js",
    "transform-class-properties",
    "transform-decorators-legacy"
  ],
  "env": {
    "live-reloading": {
      "presets": ["react-hmre"]
    }
  }
}
