{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "strict": 0,
    "indent": [1, 2],
    "quotes": [1, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "comma-dangle": [1, "always-multiline"],
    "no-use-before-define": [1, "nofunc"],
    "arrow-parens": [1, "always"],
    "arrow-spacing": [1, {"before": false, "after": true}],
    "constructor-super": 2,
    "no-var": 1,
    "object-shorthand": [1, "always"],
    "prefer-const": 1,
    "no-unexpected-multiline": 1,
    "dot-notation": 1,
    "dot-location": [1, "property"],
    "eqeqeq": 1,
    "guard-for-in": 1,
    "no-caller": 1,
    "no-eval": 1,
    "no-implied-eval": 1,
    "no-alert": 1,
    "no-extend-native": 1,
    "no-floating-decimal": 1,
    "no-multi-spaces": 1,
    "no-native-reassign": 1,
    "no-new-wrappers": 1,
    "no-new": 1,
    "no-return-assign": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-unused-expressions": [1, {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "no-useless-concat": 1,
    "yoda": 1,
    "no-unused-vars": [2, { "argsIgnorePattern": "^_", "varsIgnorePattern": "^React$" }],
    "brace-style": 1,
    "camelcase": 1,
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [1, "last"],
    "computed-property-spacing": [1, "never"],
    "eol-last": 1,
    "jsx-quotes": [1, "prefer-single"],
    "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
    "new-cap": 1,
    "new-parens": 1,
    "no-lonely-if": 1,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-spaced-func": 1,
    "no-trailing-spaces": 1,
    "object-curly-spacing": [1, "always"],
    "operator-assignment": [1, "always"],
    "semi-spacing": [1, {"before": false, "after": true}],
    "semi": [1, "always"],
    "space-before-blocks": 1,
    "space-before-function-paren": [1, "never"],
    "space-in-parens": [1, "never"],
    "space-infix-ops": 1,
    "no-console": 0
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "PLAID_PRODUCTION": true
  }
}
