*.pyc
/.ackrc
/venv
/.env
/fab-env
/staticfiles
/static/dist
/media
/local
/spendwell/schema.json
/spendwell/settings/secrets.py
/spendwell/settings/local.py
/npm-debug.log
/.vs/
/Include/
/Lib/
/Scripts/
/bin/
/node_modules/
/obj/
/pip-selfcheck.json
/spendwell.pyproj
/spendwell.sln
/collected_static
/.virtualenv
/.vscode/

