https://dev.spendwell.co

log / stdout "{status} {method} {path}"

tls local/dev_spendwell_co.crt local/dev_spendwell_co.key

proxy / localhost:3000 {
    websocket
    except /media
    proxy_header X-Forwarded-Host dev.spendwell.co
    proxy_header X-Forwarded-Proto https
}

startup node ./webpack/dev.server.js &
startup ./manage.py runserver &
