-e git://github.com/defrex/graphql-core.git@9c8450fa5b2e3dd0a8ea015ac3b9b5f24028ac91#egg=graphql-core

Django==1.9.1
psycopg2==2.6.1
plaid-python==1.3.0
django-filter==0.12.0
django-graphiql==0.4.2
django-bootstrap-form==3.2
python-dateutil==2.4.2
factory-boy==2.6.0
Delorean==0.6.0
graphene==0.7.3
tqdm==3.8.0
django-watchman==0.9.0
django-extensions==1.6.1
graphql-django-view==1.1.0
requests==2.7.0
xmltodict==0.10.1
Pillow==3.2.0
raven==5.12.0
