{% extends "page.html" %}

{% block body_class %}{{ block.super }} users-auth{% endblock %}

{% block content %}
<div class="container">
  <div class="auth-container card">
    <h1>Login</h1>

    <form action="" method="post">
      {% csrf_token %}
      <div class="{% if form.non_field_errors %} has-error {% endif %}">
      {{ form.non_field_errors }}
      </div>
      {% for field in form %}
        <div class="mui-textfield mui-textfield--float-label {% if field.errors %} has-error {% endif %}">
          {{ field }}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field.errors }}
        </div>
      {% endfor %}

      <p class="help-block">
        Don't have an account?
        <a href="{% url 'signup' %}">Sign Up</a>.
      </p>
      {% comment %}
      <p class="help-block">
        Don't remember your password?
        <a href="{% url 'password_reset' %}">Reset it</a>.
      </p>
      {% endcomment %}

      <button type="submit" class="mui-btn mui-btn--accent mui-btn--flat">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
