{% extends "page.html" %}

{% load bootstrap %}
{% load i18n %}

{% block body_class %}{{ block.super }} users-auth{% endblock %}

{% block content %}
<div class="container">
  <div class="auth-container">
    <h1>Password Reset</h1>

    {% if validlink %}
      <form action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
        </div>
      </form>

    {% else %}
      <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}

  </div>
</div>
{% endblock %}
