
@import './color';

@mixin depth($z) {
  @if $z == 1 {
    box-shadow:
        0 1px 3px rgba(color('black'), .12),
        0 1px 2px rgba(color('black'), .24);

  } @else if $z == 2 {
    box-shadow:
        0 3px 6px rgba(color('black'), .16),
        0 3px 6px rgba(color('black'), .23);

  } @else if $z == 3 {
    box-shadow:
        0 10px 20px rgba(color('black'), .19),
        0 6px 6px rgba(color('black'), .23);

  } @else if $z == 4 {
    box-shadow:
        0 14px 28px rgba(color('black'), .25),
        0 10px 10px rgba(color('black'), .22);

  } @else if $z == 5 {
    box-shadow:
        0 19px 38px rgba(color('black'), .3),
        0 15px 12px rgba(color('black'), .22);
  }
}

.depth-z1 {
  @include depth(1);
}

.depth-z2 {
  @include depth(2);
}

.depth-z3 {
  @include depth(3);
}

.depth-z4 {
  @include depth(4);
}

.depth-z5 {
  @include depth(5);
}
