
@import 'generic/buttons';
@import 'generic/overlay';

body, html {
  background-color: $gray-lightest;
}

body {
  padding-bottom: 80px;

  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 600;
}

div.checkbox {
  margin: 0;
}

label {
  transition: 0.15s ease-out;
}

a:focus {
  text-decoration: none;
}

.form-control:focus {
  box-shadow: none;
}

.gone {
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left:  20px;
  padding-right: 20px;

  @media (min-width: $screen-sm-min) {
    max-width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    max-width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    max-width: $container-lg;
  }

  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin-bottom: 40px;
  }

  &.skinny {
    width: 650px;
  }
}

.heading,
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-bottom: 20px;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    flex: 1;
  }

  .back {
    margin-right: 10px;
  }
}

.money {
  &.money--negative {
    color: $brand-danger;

    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }
}

.mui-table > thead > tr > th {
  font-weight: 600;
}
