
@import "~muicss/lib/sass/mui/colors";


$brand-primary:   #00897b;
$brand-secordary: #d69e3a;

$brand-success: $brand-primary;
$brand-warn: $brand-secordary;
$brand-danger: mui-color('red', '600');

$gray-darker:   lighten(#000, 13.5%); // #222
$gray-dark:     lighten(#000, 20%);   // #333
$gray:          lighten(#000, 33.5%); // #555
$gray-light:    lighten(#000, 46.7%); // #777
$gray-lightish: lighten(#000, 60%);   // #999
$gray-lighter:  #E7E7E7;
$gray-lightest: #F8F8F8;


$mui-primary-color:       $brand-primary;
$mui-primary-color-dark:  darken($brand-primary, 10%);
$mui-primary-color-light: lighten($brand-primary, 10%);

$mui-accent-color:        mui-color('pink', 'A200') !default;
$mui-accent-color-dark:   mui-color('pink', 'A100') !default;
$mui-accent-color-light:  mui-color('pink', 'A400') !default;

$mui-danger-color:        mui-color('red', '500') !default;


$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$grid-gutter-width: 30px;

$container-sm: (720px + $grid-gutter-width);
$container-md: (940px + $grid-gutter-width);
$container-lg: (1140px + $grid-gutter-width);
