{% extends "page.html" %}

{% load i18n %}
{% load class_name %}

{% block body_class %}{{ block.super }} users-auth{% endblock %}

{% block content %}
<div class="container">
  <div class="auth-container card">
    <h1>{% trans "Signup" %}</h1>

    <form action="" method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}

      {% for field in form %}
        {% if field.field.widget|class_name == 'Select' %}
          <div class="mui-select">
            {{ field.errors }}
            <div class="mui-textfield">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
            {{ field }}
          </div>
        {% else %}
          <div class="mui-textfield mui-textfield--float-label">
            {{ field.errors }}
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
        {% endif %}
      {% endfor %}

      <p class="help-block">
        {% trans "Already have an account?" %}
        <a href="{% url 'login' %}">{% trans 'Login' %}</a>.
      </p>

      <button type="submit" class="mui-btn mui-btn--accent mui-btn--flat">{% trans "Signup" %}</button>
    </form>
  </div>
</div>
{% endblock %}
