{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicon/apple-touch-icon-57x57.png?v=2" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicon/apple-touch-icon-60x60.png?v=2" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-touch-icon-72x72.png?v=2" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicon/apple-touch-icon-76x76.png?v=2" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-touch-icon-114x114.png?v=2" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicon/apple-touch-icon-120x120.png?v=2" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicon/apple-touch-icon-144x144.png?v=2" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicon/apple-touch-icon-152x152.png?v=2" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon-180x180.png?v=2" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicon/favicon-32x32.png?v=2" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "img/favicon/favicon-194x194.png?v=2" %}" sizes="194x194">
    <link rel="icon" type="image/png" href="{% static "img/favicon/favicon-96x96.png?v=2" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "img/favicon/android-chrome-192x192.png?v=2" %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static "img/favicon/favicon-16x16.png?v=2" %}" sizes="16x16">
    <link rel="manifest" href="{% static "img/favicon/manifest.json?v=2" %}">
    <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg?v=2" %}" color="#4caf50">
    <link rel="shortcut icon" href="{% static "img/favicon/favicon.ico?v=2" %}">
    <meta name="msapplication-TileColor" content="#4caf50">
    <meta name="msapplication-TileImage" content="{% static "img/favicon/mstile-144x144.png?v=2" %}">
    <meta name="msapplication-config" content="{% static "img/favicon/browserconfig.xml?v=2" %}">
    <meta name="theme-color" content="#4caf50">

    <meta name="analytics-page-name" content="{% block analytics_page_name %}Base{% endblock %}">

    <meta name="mixpanel-key" content="{{ MIXPANEL_PUBLIC_KEY }}">
    <meta name="google-analytics-key" content="{{ GOOGLE_ANALYTICS_KEY }}">
    <meta name="raven-dsn" content="{{ RAVEN_PUBLIC_DSN }}">
    <meta name="facebook-pixel-key" content="{{ FACEBOOK_PIXEL_KEY }}">

    <title>{% block title %}Spendwell{% endblock %}</title>

    <link
      href='https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons'
      rel='stylesheet'
      type='text/css'
    >
    {% if RAVEN_PUBLIC_DSN %}
      <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
    {% endif %}
    <script src="{% static 'analytics.js' %}"></script>

    {% block head %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
  </body>
</html>
