{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dist/pages.css' %}">
{% endblock %}

{% block body_class %}{{ block.super }} page{% endblock %}

{% block body %}
  <nav class="header mui-appbar mui--z2 page-topbar">
    <a class="brand mui--appbar-height mui--appbar-line-height" href="/">
      <img src="{% static 'img/logo-white.svg' %}" alt="Spendwell" class="logo"/>
      <img src="{% static 'img/logo-icon-white.svg' %}" alt="Spendwell" class="icon"/>
    </a>
  </nav>

  {% block content %}{% endblock %}

  {% if REACT_HOT_LOADING %}
    <script src="{% static 'dist/hotLoader.js' %}"></script>
  {% endif %}
  <script src="{% static 'dist/pages.js' %}"></script>
{% endblock %}
