
<div id="landing-form-container">
  <form
    action="https://api.kickofflabs.com/v1/69756/subscribe"
    method="post"
    class="form-inline"
    id="landing-form"
    novalidate
  >
    <h4>We're launching soon</h4>
    <p>Leave your email to get on the list</p>
    <div class="form-fields">
      <div class="mui-textfield mui-textfield--float-label">
        <input class="form-control" name="email" type="email">
        <label>Email</label>
      </div>
      <button type="submit" name="subscribe" class="mui-btn mui-btn--primary">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>
  </form>
</div>
