{% extends "base.html" %}

{% load staticfiles %}

{% block body_class %}{{ block.super }} landing{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dist/pages.css' %}">
{% endblock %}

{% block body %}
  <div class="hero">
    <div class="hero-content">
      <div class="logo"></div>
      <h1>{% block hero_heading %}{% endblock %}</h1>
      <p>{% block hero_graph %}{% endblock %}</p>
      <div class="cta">
        <a href="#" class="mui-btn mui-btn--primary landing-cta">
          {% block hero_cta %}Get Started{% endblock %}
        </a>
      </div>
    </div>
  </div>

  {% include 'landing/_email-form.html' %}

  <script src="{% static 'dist/pages.js' %}"></script>
{% endblock %}
