{% extends "base.html" %}

{% load staticfiles %}

{% block body_class %}{{ block.super }} landing{% endblock %}

{% block analytics_page_name %}Landing{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dist/pages.css' %}">

  <!-- Facebook Pixel Backup -->
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=227041677640062&ev=PageView&noscript=1"
  /></noscript>
{% endblock %}

{% block body %}
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <ul class="list-inline nav-dropdown" align="right">
            <li class="logo hidden-xs"><a href="{% url 'landing:home' %}">
              <img src="{% static 'img/landing/logo.svg' %}" alt="Spendwell"/>
            </a></li>
            <div class="mui-dropdown top-nav-dropdown">
              <button class="mui-btn mui-btn--default mui-btn--flat visible-xs-inline nav-dropdown toggle-dropdown">
                <i class="material-icons">more_vert</i>
              </button>
              <ul id="collapse" class="mui-dropdown__menu mui-dropdown__menu--right hidden-sm hidden-md hidden-lg">
                {% if request.user.is_authenticated %}
                  <li class="visible-xs-inline mobile-nav-conf"><a class="mobile-nav-pad" href="{% url 'app' %}">Dashboard</a></li>
                {% endif %}
                <li class="visible-xs-inline mobile-nav-conf"><a class="mobile-nav-pad" href="{% url 'landing:home' %}#security">Security</a></li>
                <li class="visible-xs-inline mobile-nav-conf"><a class="mobile-nav-pad" href="{% url 'landing:faq' %}">FAQ</a></li>
                <li class="visible-xs-inline mobile-nav-conf"><a class="mobile-nav-pad" href="{% url 'calculators' %}">Calculators</a></li>
                <li class="visible-xs-inline mobile-nav-conf"><a class="mobile-nav-pad" href="https://blog.spendwell.co">Blog</a></li>
                {% if request.user.is_authenticated %}
                  <li class="visible-xs-inline mobile-nav-conf"><a class="mobile-nav-pad" href="{% url 'logout' %}?next=/">Logout</a></li>
                {% else %}
                  <li class="visible-xs-inline mobile-nav-conf"><a class="mobile-nav-pad" href="{% url 'login' %}">Login</a></li>
                {% endif %}
              </ul>
            </div>
            <li class="logo visible-xs-inline"><a href="{% url 'landing:home' %}">
              <img src="{% static 'img/landing/logo.svg' %}" alt="Spendwell" align="left">
            </a></li>
            <li class="hidden-xs"><a href="{% url 'landing:home' %}#security">
              Security
            </a></li>
            <li class="hidden-xs"><a href="{% url 'landing:faq' %}">
              FAQ
            </a></li>
            <li class="hidden-xs"><a href="{% url 'calculators' %}">
              Calculators
            </a></li>
            <li class="hidden-xs"><a href="https://blog.spendwell.co">
            Blog
          </a></li>
          </ul>
        </div>
        <div class="col-sm-4 hidden-xs">
          {% if request.user.is_authenticated %}
            <ul class="list-inline">
              <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
              <li><a href="{% url 'app' %}" class="mui-btn mui-btn--primary">Dashboard</a></li>
            </ul>
          {% else %}
            <ul class="list-inline">
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="javascript:;" class="mui-btn mui-btn--primary landing-cta">Signup</a></li>
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% block content %}{% endblock %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col left">
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/SpendwellApp">
              <i class="fa fa-facebook"></i>
            </a></li>
            <li><a href="https://twitter.com/spendwellapp">
              <i class="fa fa-twitter"></i>
            </a></li>
          </ul>
        </div>
        <div class="col-sm-6 col center">
          <ul class="list-inline">
            <li><a href="{% url 'landing:home' %}#security">Security</a></li>
            <li><a href="{% url 'landing:faq' %}">FAQ</a></li>
            <li><a href="{% url 'calculators' %}">Calculators</a></li>
            <li><a href="https://blog.spendwell.co">Blog</a></li>
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-sm-3 col right">
          &copy;{{ copyright_year }} Spendwell Inc.
        </div>
      </div>
    </div>
  </footer>

  {% include 'landing/_email-form.html' %}

  <script src="{% static 'dist/pages.js' %}"></script>
{% endblock %}
