{% extends "landing/base.html" %}

{% load staticfiles %}

{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
  <div class="container">
    <div class="hero row">
      <div class="col-sm-7">
        <img src="{% static 'img/landing/laptop.png' %}"/>
      </div>
      <div class="col-sm-5 hero-content">
        <h1>A fitness tracker for your money</h1>
        <p class="main">
          Get a clear picture of how your money flows through your life.
          Know how much money is safe to spend without blowing your savings
          or missing your bills.
        </p>
        <a href="javascript:;" class="mui-btn mui-btn--primary landing-cta">Get Notified</a>
        <p class="extra">
          We're in private beta. <a href="javascript:;" class="landing-cta">Get on the list</a>.
        </p>
      </div>
    </div>
  </div>

  <a name="how-it-works"></a>
  <h2 class="color-bar">How it Works</h2>

  <div class="section how-section how-section-first">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 how-copy">
          <img src="{% static 'img/landing/bank.svg' %}" class="icon"/>
          <h3>Connect your Account</h3>
          <p>It's super easy to connect to your accounts. Simply enter your banking info into our bank connect form and that's it! We'll import your data and analyze it instantly.</p>
        </div>
        <div class="col-sm-5">
          <img src="{% static 'img/landing/phone.png' %}" class="screenshot phone"/>
        </div>
      </div>
    </div>
  </div>

  <div class="section how-section how-section-second">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-push-6 how-copy">
          <img src="{% static 'img/landing/chart.svg' %}" class="icon"/>
          <h3>Get a visual breakdown</h3>
          <p>We'll show you everything you want to know. How much money is coming in, going out, safe to spend and what you're saving. If you're running a deficit, we'll help you fix that too. </p>
        </div>
        <div class="col-sm-6 col-sm-pull-5">
          <img src="{% static 'img/landing/desktop.png' %}" class="screenshot desktop"/>
        </div>
      </div>
    </div>
  </div>

  <div class="section how-section how-section-third">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 how-copy">
          <img src="{% static 'img/landing/dollar.svg' %}" class="icon"/>
          <h3>Set your financial goals</h3>
          <p>Whether you want a rock solid budget or you plan to buy a house or car in the near future, we'll help you reach your goals. We make it easy to set and monitor your progress.</p>
        </div>
        <div class="col-sm-6">
          <img src="{% static 'img/landing/tablet.png' %}" class="screenshot tablet"/>
        </div>
      </div>
    </div>
  </div>

  <a name="security"></a>
  <h2 class="color-bar">Security</h2>

  <div class="section security-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="{% static 'img/landing/security.svg' %}" class="icon"/>
          <h3>Bank Level Security</h3>
          <p>We hold ourselves to the highest security standards, which includes 256-bit encryption.</p>
        </div>
        <div class="col-sm-4">
          <img src="{% static 'img/landing/anonymity.svg' %}" class="icon"/>
          <h3>Anonymity</h3>
          <p>We do not ask for any personally identifying information from you, other than your email.</p>
        </div>
        <div class="col-sm-4">
          <img src="{% static 'img/landing/privacy.svg' %}" class="icon"/>
          <h3>Data Privacy</h3>
          <p>Your financial data is safe with us. We do not share or sell your information.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cta-bar">
    <a href="javascript:;" class="mui-btn mui-btn--primary landing-cta">Get Notified</a>
  </div>

  <script>window.mixpanel.track('Landing: Home');</script>
{% endblock %}
