
@import '../variables';
@import '../depth';

.header {
  position: relative;
  height: $appbar-height;

  background-color: $primary;
  color: white;
  text-align: center;

  .brand {
    display: inline-block;
    height: $appbar-height;
    padding: 12px 0;

    img {
      margin: 0;
      padding: 0;
      height: $appbar-height - (12px * 2);
    }
  }
}
