
@import '../variables';
@import '../depth';

.header {
  position: relative;
  height: $appbar-height;

  background-color: $primary;
  color: white;

  @media (min-width: $screen-sm-min) {
    text-align: center;
  }

  .mui-dropdown {
    float: right;

    button .material-icons {
      line-height: 36px;
    }

    li a {
      padding: 16px;
      line-height: 1;
    }
  }
}
