
@import '../color';

body.landing {
  .header {
    padding: 13px 0 10px;
    background-color: color('grey', '100');

    .col-sm-6:first-child {
      text-align: left;

      a {
        padding-top: 3px;
      }
    }

    .col-sm-6:last-child {
      text-align: right;
    }

    .list-inline {
      margin-bottom: 0;
    }

    img {
      height: 40px;
    }

    a:not(.mui-btn) {
      color: color('grey', '700');
    }

    .logo {
      margin-right: 10px;

      img {
        @media (min-width: $screen-sm-min) {
          margin-top: -3px;
        }
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
        text-align: center;
      }
    }
  }

  .color-bar {
    padding: 30px 5px;
    margin-bottom: 0;
    background-color: $primary;
    text-align: center;
    color: white;
  }

  footer {
    padding: 60px 0;
    background-color: color('grey', '800');
    color: color('grey', '50');

    ul {
      margin-bottom: 0;
    }

    a {
      color: color('grey', '50');

      .fa {
        font-size: 20px;
        color: $primary;
      }
    }

    .right {
      color: color('grey', '500');
    }

    @media (max-width: $screen-xs-max) {
      text-align: center;

      .col {
        margin-bottom: 20px;
      }
    }

    @media (min-width: $screen-sm-min) {
      .left {
        text-align: left;
      }

      .center {
        text-align: center;
      }

      .right {
        text-align: right;
      }
    }
  }
}
