
@import '../variables';

body.faq {
  .faq-heading {
    margin-bottom: 40px;
  }

  .faq-content {
    h2 {
      margin-bottom: 10px;
      font-size: 20px;
    }

    p {
      margin-bottom: 40px;
      font-size: 16px;
    }
  }
}
