
body.faq {
  .faq-content {
    h1 {
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 10px;
      font-size: 20px;
    }

    p {
      margin-bottom: 40px;
      font-size: 16px;
    }
  }
}
