
body.home {

  .hero {
    padding: 60px 0;

    @media (max-width: $screen-xs-max) {
      padding-top: 40px;
    }

    img {
      max-width: 100%;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 40px;
      }
    }

    h1 {
      line-height: 1;
      font-size: 34px;
      margin-bottom: 16px;
    }

    p.main {
      margin-bottom: 40px;
    }

    p.extra {
      margin-top: 20px;
      color: $gray-light;
    }
  }

  .section {
    .material-icons {
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin: auto;
    }
  }

  .how-section {
    padding: 60px 0;
    text-align: center;
    border-bottom: 1px solid $gray-6;

    img.screenshot {
      max-width: 100%;
      max-height: 400px;

      @media (max-width: $screen-xs-max) {
        margin-top: 20px;
      }

      &.phone {
        height: 300px;
      }

      &.desktop {
        max-height: 450px;
      }
    }

    &.how-section-first {
      padding-bottom: 0;
      background-color: white;

      .how-copy {
        @media (min-width: $screen-sm-min) {
          padding-top: 10px;
        }
        @media (min-width: $screen-md-min) {
          padding-top: 20px;
        }
      }
    }

    &.how-section-second {
      .how-copy {
        @media (min-width: $screen-sm-min) {
          padding-top: 10px;
        }
        @media (min-width: $screen-md-min) {
          padding-top: 50px;
        }
      }
    }

    &.how-section-third {
      background-color: $gray-lighter;

      .how-copy {
        @media (min-width: $screen-sm-min) {
          padding-top: 5px;
        }
        @media (min-width: $screen-md-min) {
          padding-top: 40px;
        }
      }
    }

    p {
      max-width: 340px;
      font-size: 16px;
    }

  }

  .color-bar-security {
    background-color: $accent;
  }

  .security-section {
    padding: 60px 0;
    text-align: center;

    .material-icons {
      margin-bottom: 30px;
      color: $accent;
    }

    .col-sm-4 {
      @media (max-width: $screen-xs-max) {
        margin-top: 40px;
      }
    }
  }

  .cta-bar {
    margin-bottom: 60px;
    text-align: center;
  }


  .material-icons {
    font-size: 90px;
    color: $primary;
  }
}
