
body.landing{
  .nav-dropdown {
    .material-icons {
      margin-top: 5px;
    }
  }

  .mobile-nav-conf {
    height: 48px;
    width: 56px;
    font-size: 16px;
  }

  .mobile-nav-pad {
    padding-left: 16px;
    padding-bottom: 20px;
    padding-top: 12px;
  }
}