
body.users-auth {
  .header .brand {
    padding: 12px;

    img {
      height: 40px;
    }
  }

  .auth-container {
    max-width: 330px;
    margin: 0 auto 50px;

    h1 {
      margin-bottom: 20px;
    }

    .mui-select .mui-textfield {
      margin: 0;
    }

    input:-webkit-autofill {
      ~ label {
        color: $mui-label-font-color;
        font-size: $mui-label-font-size;
        line-height: $xFormLabelLineHeight;
        transform: translate(0, 0);
        text-overflow: ellipsis;
      }
    }

    .has-error {
      label {
        color: $danger;
      }

      input {
        border-bottom: 2px solid $danger;
      }

      .errorlist {
        color:  $danger;
        list-style-type: none;
        margin-left: -39px;
        font-size: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
  }
}
