
body.users-auth {
  .auth-container {
    max-width: 330px;
    margin: 0 auto 50px;

    h1 {
      margin-bottom: 20px;
    }

    .mui-select .mui-textfield {
      margin: 0;
    }
  }

  .card-actions {
    margin: 0 -8px -8px;
  }
}
