
@import '../variables';

:local(.root) {
  width: 100%;
  padding-bottom: 80px;
  transition: 0.5s ease;

  .global-loading {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .app-children {
    @media (min-width: $screen-sm-min) {
      // for left nav
      padding: 0 0 0 200px;
    }

    > .container {
      padding-top: 40px;
    }
  }

}
