
@import '../variables';

:local(.root) {
  width: 100%;
  padding-bottom: 160px;
  transition: .5s ease;

  .global-loading {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .app-children {
    @media (min-width: $screen-sm-min) {
      padding: 0 0 0 $nav-width-desktop;
    }

    > .container {
      padding-top: 20px;
    }
  }

  &.onboarding {
    .app-children {
      @media (min-width: $screen-sm-min) {
        padding: 0;
      }
    }
  }
}
