
@import '../variables';

:local(.root) {
  .btn.delete {
    float: right;
  }

  .filter-goal-amount {
    font-size: 16px;
    line-height: 32px;

    .filter-goal-amount-value,
    .filter-goal-amount-toggle {
      display: inline-block;
      width: calc(50% - 16px);
      margin-right: 16px;
    }

    .filter-goal-amount-toggle {
      cursor: pointer;

      .icon {
        vertical-align: middle;
      }
    }
  }
}
