
@import '../variables';
@import '../depth';

.card, :local(.root) {
  @extend .depth-z1;

  padding: 20px;
  background-color: white;
  border-bottom: 1px solid $gray-lighter;

  transition: 0.5s ease;

  &:last-child {
    border-bottom: none;
  }

  &.expanded {
    @extend .depth-z2;
    margin: 20px -10px;

    .summary {
      margin-bottom: 10px;
    }

    .more-info {
      height: auto;
    }

    h1, h2, h3, h4, h5 {
      margin: 0;
    }
  }

  &.card-list-headings {
    font-weight: 500;
  }

  .summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    // hack out to the edges of card to enable click surface
    margin: -20px;
    padding: 20px;

    > :first-child {
      flex: 1;
    }
    > :not(:first-child) {
      margin-left: 20px;
    }
  }

  .more-info {
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
  }
}
