
@import '../variables';
@import '../mui';

:local(.root) {
  @extend .mui--z1;

  padding: 20px;
  background-color: white;
  border-bottom: 1px solid $gray-lighter;

  transition: 0.5s ease;

  &:last-child {
    border-bottom: none;
  }

  &.expanded {
    @extend .mui--z2;
    margin: 20px -10px;
  }
}
