
@import '../variables';
@import '../depth';

:local(.root) {
  @extend .depth-z1;

  padding: 20px;
  background-color: white;
  border-bottom: 1px solid $gray-lighter;

  transition: 0.5s ease;

  &:last-child {
    border-bottom: none;
  }

  &.expanded {
    @extend .depth-z2;
    margin: 20px -10px;

    .summary {
      margin-bottom: 10px;
    }

    .more-info {
      height: auto;
    }
  }

  &.card-list-headings {
    font-weight: 500;
  }

  .summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > :first-child {
      flex: 1;
    }
    > :not(:first-child) {
      margin-left: 20px;
    }
  }

  .more-info {
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
  }
}
