
@import '../variables';
@import '../depth';

:local(.root) {

  .graph-card{
    position:relative; 
    @extend .depth-z1;
    background-color:white;
    font-size:20px;
    color:$gray-2; 
    font-weight:600;
    margin-bottom:30px;
    height: 655px;
    
  }

  .empty-state {
    text-align:center;
  }

  .empty-graphs {
    width:35%;
    height:35%;
    padding-top: 50px;
  }

  .hide-me{
    display:none;
  }

  .empty-state {
    display:inline-block;
  }

  .empty-text {
    padding: 40px 150px 0  150px;
    .text-small {
      padding-top:15px;
      line-height:1.2;
    }
  }

  .move-right{ 
    position: absolute;
    text-align:end;
    right:5%;
  }

  .interest{ 
    position: absolute;
    text-align:end;
    right:5%;
  }

  .offset-card {
    position: absolute;
    text-align:end;
    right:5%;
    margin-top:20px;
 
  }

  .text-small{
    font-weight:normal;
    font-size:13px;
    color:$gray-4;
    line-height:.8;

  }

  .scaling-graph{
    position:relative;
    max-width:100%;
    height:550px;
  }

  .graphs{ 
    padding-top:10px
  }

  .total-schedule{
    fill:$brand-primary;
  }

  .principle-schedule{
    fill:lighten($brand-primary, 20%);
  }
  .redme{
    background-color:red;
  }
  .before-animation {
    .totalSchedule {
      fill:white;
      opacity:.5;
    }

    .principle-schedule {
      fill:white;
      opacity:.5;
      }
  }

  .after-animation {
    .totalSchedule {
      fill:$brand-primary; 
      opacity:1;
      transition: opacity 1.5s, fill 1.5s;
    }

    .principle-schedule{
      fill:lighten($brand-primary, 20%);
      opacity:1;
      transition: opacity 1.5s, fill 1.5s;
    }
  }

  .total-line{
    stroke-width:.2px;
    stroke:$gray-6 ;
  }

  .principle-line{
    stroke-width:.2px;
    stroke:$gray-6;
    fill:none;
  }

  .graph-header{
    padding: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:white;
    font-size:20px;
    width:100%;
  }

  .dates{
    position:absolute;
    bottom:5px;
    color:white;
    width: 100%;
    font-size:14px;
    font-weight:normal;
  }

  .total {
    position: absolute;
    text-align:end;
    right:5%;
  }

  .start-date {
    padding-left:30px;
  }

  .end-date {
    bottom:0;
  }

}



   