
@import '../variables';
@import '../depth';

:local(.root) {
  @extend .depth-z4;

  padding: 24px;
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  max-width: 90%;
  transform: translate(-50%, -50%);

  .body {
    > h1, > h2, > h3, > h4, > h5 {
      margin-bottom: 20px;
    }
  }

  .actions {
    margin-top: 20px;
    text-align: right;
  }

  &.sm {
    width: 400px;
  }

  &.md {
    width: 600px;
  }

  &.lg {
    width: 90%;
  }
}
