
@import '../variables';

:local(.root) {
  .field {
    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-direction: row;
    }

    .mui-textfield {
      @media (min-width: $screen-sm-min) {
        flex: 1;
        padding: 0;
        margin: 0 5px;
      }

      @media (max-width: $screen-xs-max) {
        padding-top: 0;
        margin: 0 0 20px;
      }
    }
  }

  .save-card {
    .mui-btn {
      margin-right: 10px;
    }
  }
}
