
@import '../variables';

:local(.root) {

  .filter-name {
    .subtitle {
      font-size: 12px;
      color: color('grey', '600');
    }

    strong {
      font-weight: 500;
    }

    .field:after {
      content: ', ';
    }

    .field:last-child:after {
      content: '';
    }
  }

  .summary > div > .mui-btn {
    margin: 0;
  }
}
