
@import '../variables';
@import '../depth';
@import '../mixins';

:local(.root) {
  position: relative;

  color: white;

  @media (min-width: $screen-sm-min) {
    @include clearfix;
  }

  .image img {

    @media (min-width: $screen-sm-min) {
      float: left;
      height: 100px;
      margin-right: 20px;
      margin-bottom: -20px;
    }

    @media (max-width: $screen-xs-max) {
      display: block;
      max-height: 100px;
      margin: 0 auto 20px;
    }
  }

  .dismiss {
    position: absolute;
    top: 5px;
    right: 9px;
  }

  &.scheme-pink {
    background-color: #AD1457;
  }

  &.scheme-cyan {
    background-color: #00838F;
  }

  &.scheme-orange {
    background-color: #D84315;
  }

  &.scheme-blue {
    background-color: #0277BD;
  }

  &.scheme-yellow {
    background-color: #F9A825;
  }

  &.scheme-green {
    background-color: darken($brand-primary, 5%);

    a {
      color: #FFD600;
    }
  }

  &.scheme-red {
    background-color: #C62828;
  }

  &.scheme-purple {
    background-color: #4527A0;
  }

  &.scheme-dark-blue {
    background-color: #2c3e50;
  }
}
