
@import '../variables';

:local(.root), .header {
  position: relative;
  background-color: darken($brand-primary, 5%);

  text-align: center;
  color: white;

  .left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: block;

    a {
      color: white;
      font-size: 20px;
      margin-right: 20px;

      &:hover, &:active, &:focus {
        text-decoration: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .brand {
    display: inline-block;

    img {
      max-height: calc(100% - 24px);

      &.logo {
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }

      &.icon {
        @media (min-width: $screen-sm-min) {
          display: none;
        }
      }
    }
  }

  .safe-to-spend {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    float: right;

    text-align: right;
    font-size: 20px;

    small {
      display: block;
      font-size: 12px;
      line-height: 1;
      color: rgba(white, 0.8);
    }
  }
}
