
@import '../variables';
@import '../depth';

:local(.root), .header {
  position: relative;
  height: $appbar-height;

  background-color: $primary-dark;
  color: white;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }

  @media (min-width: $screen-sm-min) {
    padding-left: 220px;
  }

  .title {
    @media (max-width: $screen-xs-max) {
      display: none;
    }

    @media (min-width: $screen-sm-min) {
      height: $appbar-height;
      line-height: $appbar-height;
      float: left;
      vertical-align: middle;
      font-size: 22px;
    }
  }

  .nav-handle {
    @media (max-width: $screen-xs-max) {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }

    @media (min-width: $screen-sm-min) {
      display: none;
    }

    a {
      color: white;
      font-size: 20px;
      margin-right: 20px;

      &:hover, &:active, &:focus {
        text-decoration: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .brand {
    @media (max-width: $screen-xs-max) {
      display: inline-block;
    }

    @media (min-width: $screen-sm-min) {
      display: none;
    }

    img {
      max-height: calc(100% - 24px);
    }
  }
}
