
@import '../variables';

:local(.root) {
  .buckets {
    > span:after {
      content: ', ';
    }

    > span:last-child:after {
      content: '';
    }
  }

  .summary .buckets, .no-bucket {
    color: mui-color('grey', '600');
  }

  .date {
    width: 110px;
    text-align: right;
    color: mui-color('grey', '600');
  }

  .amount {
    width: 60px;
    text-align: right;
  }

  .from-savings-toggle {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    cursor: pointer;

    .from-savings-check {
      padding: 2px 5px 0 0;
    }

    .from-savings-copy {
      flex: 1;
    }
  }
}
