
@import '../variables';

:local(.root) {
  .buckets {
    > span:after {
      content: ', ';
    }

    > span:last-child:after {
      content: '';
    }
  }

  .summary .buckets {
    color: mui-color('grey', '600');
  }

  .date {
    width: 90px;
    text-align: right;
    color: mui-color('grey', '600');
  }

  .amount {
    width: 60px;
    text-align: right;
  }

  .spend-from-savings {
    margin-top: 20px;
  }
}
