
@import '../variables';
@import '../color';

:local(.root) {
  margin-bottom: 10px;

  line-height: 26px;
  font-size: 16px;
  font-weight: normal;
  color: color('grey', '600');

  small {
    font-size: 12px;
    color: color('grey', '500');
  }
}
