
@import '../variables';
@import '../depth';

:local(.root) {
  @extend .depth-z4;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -210px;
  z-index: 200;
  transition: 0.5s ease;
  background-color: white;

  &.open {
    left: 0;
  }

  .account-info {
    position: relative;
    min-height: 100px;

    color: white;
    background-color: $brand-primary;
    border-bottom: $gray;

    .account-email {
      position: absolute;
      bottom: 0;
      padding: 10px 16px;
    }
  }

  > ul {
    margin: 0;

    li > a {
      display: block;
      padding: 10px 16px;

      border-bottom: 1px solid $gray-lighter;
      color: $gray-dark;

      .fa {
        margin-right: 16px;
      }
    }

    li.active > a {
      color: $brand-primary;
    }
  }
}
