
@import '../mui';

:local(.root) {
  @extend .mui--z4;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -210px;

  transition: 0.5s ease;

  background-color: white;

  &.open {
    left: 0;
  }
}
