
@import '../variables';
@import '../color';
@import '../depth';

:local(.root) {
  position: fixed;
  top: 0;
  bottom: 0;
  transition: .5s ease;
  background-color: white;

  @media (max-width: $screen-xs-max) {
    @include depth(4);

    width: 80vw;
    left: -85vw;
    z-index: 200;

    &.open {
      left: 0;
    }
  }

  @media (min-width: $screen-sm-min) {
    width: $nav-width-desktop;
    left: 0;
    border-right: 1px solid $gray-7;
  }

  .logo-green {
    height: $appbar-height;
    padding: 15px 0 0 23px;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    > img {
      width: 140px;
    }
  }

  .account-info {
    position: relative;
    color: white;
    background-color: $primary-dark;
    height: $appbar-height + 56px;

    @media (min-width: $screen-sm-min) {
      display: none;
    }

    .logo {
      height: $appbar-height - 16px;
      margin: 16px 16px 0;
    }

    .account-email {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 56px;
      padding: 0 16px;

      line-height: 56px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > ul {
    margin: 0;
    padding-top: 8px;

    @media (min-width: $screen-sm-min) {
      border-top: 1px solid $gray-7;
    }

    li > a {
      display: block;
      position: relative;
      padding: 12px 16px;
      height: 48px;

      .icon {
        margin-right: 32px;
      }

      .label {
        display: block;
        position: absolute;
        left: 72px;
        top: 12px;
        line-height: 24px;
        vertical-align: middle;
        font-size: 16px;
        color: color('grey', '800');
      }
    }

    .active > a {
      background-color: color('grey', '100');

      .label,
      .icon {
        color: $accent;
      }
    }

    li.divider {
      border-top: 1px solid color('grey', '200');
      margin: 8px 0;
    }
  }
}
