
@import '../variables';
@import '../depth';


:local(.root) {
  position: relative;
  width: 280px;

  .appbar-container {
    @media (max-width: $screen-xs-max) {
      @include depth(2);

      position: absolute;
      top: $mui-appbar-height;
      height: $mui-appbar-height / 2;
      width: 100vw;
      padding: 0 5vw;

      background-color: $brand-primary;

      > .progress {
        width: 90vw;
      }
    }

    @media (min-width: $screen-sm-min) {
      height: $mui-appbar-height;
      position: relative;
      cursor: pointer;
    }

    > .progress {
      @extend .depth-z1;

      position: absolute;
      top: calc(50% - 2px);
    }
  }

  .callout {
    @extend .depth-z3;

    position: absolute;

    padding: 15px;
    z-index: 1;

    background-color: rgba($gray-2, 0.9);
    color: white;
    text-align: center;
    line-height: 1;

    @media (max-width: $screen-xs-max) {
      top: ($mui-appbar-height + ($mui-appbar-height / 2)) - 3px;
      left: 10vw;
      width: 80vw;
    }

    @media (min-width: $screen-sm-min) {
      top: $mui-appbar-height - 10px;
      left: 50px;
      width: calc(100% - 100px);
    }

    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: none;
      border-bottom-color: rgba($gray-2, 0.9);
      border-width: 10px;
      margin-left: -10px;
    }

    h4 {
      margin: 0;
    }
  }

  .todos {
    @extend .depth-z3;

    position: absolute;

    padding: 10px 0 5px;
    z-index: 1;

    background-color: white;
    color: $gray-2;

    @media (max-width: $screen-xs-max) {
      top: ($mui-appbar-height + ($mui-appbar-height / 2)) - 3px;
      left: 10vw;
      width: 80vw;
    }

    @media (min-width: $screen-sm-min) {
      top: $mui-appbar-height - 10px;
      left: -10px;
      width: calc(100% + 20px);
    }

    h4 {
      text-align: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 5px 10px;
        margin-bottom: 5px;

        text-align: left;

        > :first-child {
          margin: 0 10px 0 0;
        }

        > :not(:first-child) {
          flex: 1;
        }

        .title {
          font-weight: 600;
        }

        &.not-done {
          cursor: pointer;

          &:hover {
            background-color: $gray-8;
          }
        }

        &.done {
          color: $gray-4;

          .icon {
            fill: $brand-primary;
          }
        }
      }
    }
  }
}
