
@import '../variables';

:local(.root) {
  .line-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &.bold {
      font-weight: 500;
    }

    .name {
      flex: 1;
      text-align: left;
    }

    .value {
      text-align: right;
    }
  }
}
