
@import '../variables';

:local(.root) {
  margin-bottom: 20px;

  h1 {
    font-size: 22px;
    line-height: 1;
    margin: 0 0 5px;
  }

  p {
    margin: 0;
    font-size: 16px;
    color: $gray-4;
  }
}
