
@import '../variables';
@import '../depth';

:local(.root) {
  $padding-right-left: 10px;
  $padding-bottom: 20px;

  position: fixed;
  padding: 0 $padding-right-left $padding-bottom;
  overflow: hidden;
  right: 32px - $padding-right-left;
  bottom: 32px - $padding-bottom;

  .btn,
  .tooltip {
    @extend .depth-z3;
    z-index: 1;
    transition-timing-function: ease-in-out;
  }

  .tooltip {
    position: absolute;
    right: calc(100% + 17px);
    top: 50%;
    transform: translateY(-50%);

    opacity: 0;
    transition: opacity 500ms;

    &.default {
      right: calc(100% + #{17px - $padding-right-left});
      top: calc(50% - #{$padding-bottom / 2});
    }
  }

  .primary {
    .icon {
      transition: 200ms ease-in-out;
    }

    .icon.initial {
      opacity: 1;
    }

    .icon:not(.initial) {
      opacity: 0;
      transform: rotate(180deg);
    }
  }

  .actions {
    position: absolute;
    bottom: 55px + $padding-bottom;

    .action {
      position: relative;
      height: 40px;
      width: 55px;
      margin-bottom: 16px;

      text-align: center;

      .btn {
        display: inline-block;
        height: 0;
        width: 0;
        opacity: 0;
        line-height: 40px;
        top: 50%;
        transform: translateY(-50%);

        transition: height 500ms 100ms, width 500ms 100ms, opacity 500ms 100ms;
      }
    }
  }

  .overlay {
    z-index: 0;
    background-color: white;
  }

  @mixin hover {
    overflow: visible;

    .tooltip {
      opacity: 1;
      transition: opacity 500ms 100ms;
    }

    .primary {
      .icon.initial {
        opacity: 0;
        transform: rotate(180deg);
      }

      .icon:not(.initial) {
        opacity: 1;
        transform: rotate(360deg);
      }
    }

    .actions {
      .action {

        .btn {
          height: 40px;
          width: 40px;
          opacity: 1;

          transition: height 500ms, width 500ms, opacity 500ms;
        }
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    &.primary-fab-open {
      @include hover;
    }
  }

  @media (min-width: $screen-sm-min) {
    &:hover {
      @include hover;
    }
  }
}
