
@import '../variables';

:local(.root) {
  position: relative;
  height: 3px;
  width: 100%;
  overflow: hidden;

  background-color: $gray-lighter;

  &.progress-over {
    background-color: $brand-warn;
  }

  .bar {
    height: 3px;
    background-color: $brand-warn;
  }

  &.progress-full .bar {
    background-color: $brand-success;
  }

  &.progress-over .bar {
    background-color: $brand-danger;
  }

  &.progress-success .bar {
    background-color: $brand-success;
  }

  &.progress-danger .bar {
    background-color: $brand-danger;
  }

  &.progress-warn .bar {
    background-color: $brand-warn;
  }

  &.progress-indeterminate .bar {
    animation: progress-indeterminate 2s linear infinite;
  }

  .marker {
    position: absolute;
    height: 6px;
    width: 2px;
    top: -2px;
    background-color: $gray-dark;
  }
}

@keyframes progress-indeterminate {
  0% { transform: translateX(-100%) scaleX(0.2); }
  20% { transform: translateX(-40%) scaleX(0.2); }
  30% { transform: translateX(0%) scaleX(0.5); }
  55% { transform: translateX(100%) scaleX(0.7); }
  55.99% { transform: scaleX(0); }
  56% { transform: translateX(-100%) scaleX(0); }
  56.99% { transform: translateX(-100%) scaleX(0.6); }
  75% { transform: translateX(-5%) scaleX(0.6); }
  85% { transform: translateX(30%) scaleX(0.3); }
  98% { transform: translateX(100%) scaleX(0.2); }
  99.99% { transform: scaleX(0); }
  100% { transform: translateX(-100%); }
}
