
@import '../variables';


:local(.root) {
  .month {
    background-color: mui-color('grey', '600');
    color: mui-color('grey', '100');
  }

  .total {
    background-color: mui-color('grey', '600');
    color: mui-color('grey', '100');
  }
}
