
@import '../variables';

:local(.root) {
  display: block;
  max-width: 650px;

  .fi {
    cursor: pointer;
    clear: left;

    border-left: 2px solid;

    &.has-logo {
      min-height: 81px;

      img {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
    }
  }
}
