
@import '../variables';
@import '../depth';

:local(.root) {
  .container{ 
  }

  .row {
    margin-top:30px;
  }

  // suppresses the up and down arrows 
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .double-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
  }
  .circle{
    fill:$gray;
  }

  @media screen and (max-width: 992px ) {
    .double-card {
      flex-wrap:wrap;
    }
  }

  .or-icon{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color:$gray-lighter;
    text-align:center;
  }
  .or{

    line-height:1.6;
    text-align:center;
    
  }
}
