
@import '../variables';

:local(.root) {
  .status {
    padding: 0;
    border-bottom: 0;

    @media (min-width: $screen-sm-min) {
      flex-direction: row;
    }

    .number {
      padding: 20px;

      text-align: center;
      font-size: 22px;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        width: calc(100% / 3);
        margin-bottom: 0;
      }

      @media (max-width: $screen-xs-max) {
        display: block;
        text-align: center;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.open {
        background-color: $gray-lightest;
        border-right: 1px solid $gray-lighter;
        border-left: 1px solid $gray-lighter;

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      .title {
        font-size: 18px;
      }

      .amount {
        font-weight: 500;
        text-align: center;
      }
    }

    > a {
      color: $gray-dark;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .asterisk {
    color: $gray-lightish;
  }

  .net-summary {
    .line-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &.bold {
        font-weight: 500;
      }

      .name {
        flex: 1;
        text-align: left;
      }

      .value {
        text-align: right;
      }
    }
  }
}
