
@import '../variables';
@import '../mixins';

:local(.root) {
  .card.help {
    margin-bottom: 40px;
  }

  .month-list .card {
    position: relative;

    &.bucket, &.goal {
      border-right: 2px solid $success;
    }

    &.bucket-danger,
    &.goal-danger {
      border-right-color: $danger;
    }

    &.bucket-warn,
    &.goal-warn {
      border-right-color: $warn;
    }

    &.goal .icon > div {
      background-color: $goal;
    }

    &.bill .icon > div {
      background-color: $bill;
    }

    &.bucket .icon > div {
      background-color: $label;
    }

    &.card-list-heading {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      font-weight: 500;

      .amount.avg {
        color: color('grey', '600');
      }

      > :first-child {
        flex: 1;
      }

      > :nth-child(1n+2) {
        margin-left: 16px;
        text-align: right;
      }
    }

    .summary > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .icon > div {
        width: 24px;
        height: 24px;
        border-radius: 12px;

        line-height: 23px;
        padding: 1px 0 0 1px;

        text-align: center;
        vertical-align: middle;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
      }

      > :nth-child(2) {
        flex: 1;
        margin-left: 16px;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
      }

      > :nth-child(1n+3) {
        margin-left: 16px;
        text-align: right;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
      }

      > .fw {
        min-width: 60px;
      }
    }

    .amount {
      min-width: 60px;

      &.avg {
        color: color('grey', '600');
      }
    }

    .progress {
      margin: 30px 0 5px;
    }

    .progress-numbers {
      display: flex;
      flex-direction: row;

      > div {
        flex: 1;

        &:last-child {
          text-align: right;
        }
      }
    }

    .progress-achieved {
      text-align: center;
    }

    .progress-numbers,
    .progress-achieved {
      margin-bottom: 20px;
    }

    .bucket-children,
    .goal-children {
      > :last-child {
        float: right;
      }
    }
  }

  .bottom-buttons {
    margin-top: 10px;
    text-align: center;
  }

  .goal-fab .btn {
    background-color: $goal;
  }

  .bill-fab .btn {
    background-color: $bill;
  }

  .label-fab .btn {
    background-color: $label;
  }
}
