{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dist/app.css' %}">

  <meta name="plaid-production" content="{% if PLAID_PRODUCTION %}true{% else %}false{% endif %}"/>
  <meta name="plaid-public-key" content="{{ PLAID_PUBLIC_KEY }}"/>
{% endblock %}

{% block body %}
  <div id="root"></div>

  <div id="loading">
    <div class="logo">
        <img src="{% static 'img/logo-icon-green.svg' %}" alt="Spendwell"/>
    </div>
    <div class="quote">{{ loading_quote.quote }}</div>
    <div class="author">{{ loading_quote.author }}</div>
    <svg class="spinner" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
       <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>

  <script src="{% static 'dist/app.js' %}"></script>
{% endblock %}
