{% extends "landing/base.html" %}

{% load staticfiles %}

{% block title %}Debt Repayment Calculator - Spendwell{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'dist/calculators.css' %}"/>
  <meta name="description" content="Use the Spendwell Debt Repayment 
    Calculator to find out how much time it will take to pay off your debt."/>

{% endblock %}

{% block content %}
  <h1 class="color-bar">Debt Repayment Calculator</h1>
  <div id="root"></div>
  <script src="{% static 'dist/calculators.js' %}"></script>
{% endblock %}
